@model SBAdmin.Models.CapacityNeedsSummary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CapacityNeedsSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemsDevelopment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemsDevelopment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovernanceStrengthening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovernanceStrengthening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationalStepChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationalStepChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fundraising)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fundraising)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRandStaffing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRandStaffing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialManagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringLearningAndEvaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringLearningAndEvaluation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketingAndCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingAndCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunityOutreachAndNetworking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunityOutreachAndNetworking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
