@model SBAdmin.Models.GrantInfoSummary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
<div>
    <h4>GrantInfoSummary</h4>
    <hr />

    @Html.HiddenFor(model => model.GrantId)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectObjectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectObjectives)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
<p>
    @Html.ActionLink("Test", "Details", new { id = Model.GrantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}