@model SBAdmin.Models.RiskAssessmentSummary

<div>
    <h4>RiskAssessmentSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancialRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialRiskMitigationMeasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalRiskMitigationMeasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalRiskMitigationMeasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechSystemsRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechSystemsRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechSystemsRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechSystemsRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechSystemsRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechSystemsRiskMitigationMeasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourcesRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourcesRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourcesRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourcesRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourcesRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourcesRiskMitigationMeasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReputationRisks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReputationRisks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReputationRiskProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReputationRiskProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReputationRiskMitigationMeasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReputationRiskMitigationMeasures)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
